.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 15px 50px;

    .add-user {
        width: 35px;
        height: 35px;
        display: block;
        // object-fit: contain;
        margin-left: auto;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }
}