.navbar {
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    padding: 15px 50px;

    .nav-button {
        width: 35px;
        height: 35px;
        display: block;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }

    .logout {
        margin-left: auto;
        margin-right: 10px;
    }
}