<div class="sidebar-info" [class.active]="this.active">
    <h3>Nutzerdetails</h3>
    <form action="http://nutzerdatenbank-backend.loc/users/update" method="post" target="submit-frame" (submit)="handleSubmit()">
        <div class="form-grid">
            <div [ngClass]="colName + ' ' + getGridSpanClass(colName)" class="column" *ngFor="let colName of iterableColumns">
                <label [htmlFor]="colName">{{getLabel(colName)}}:</label>
                <input type="text" [id]="colName" [name]="colName" [value]="getField($any(colName))">
            </div>
        </div>
        <input type="text" id="id" name="id" [value]="sideBarService.activeDetailsUserId" class="hidden" hidden>
        <div class="portal-verknuepfungen">
            <a target="_blank" rel="noopener noreferrer" [href]="personioLink" class="personio" [class.disabled]="this.personio_number.length < 8" title="Personio-Profil aufrufen">
                <img src="/personio.png" alt="">
            </a>
            <a href="#" class="miradore disabled" title="Mit Miradore verbinden">
                <img src="/miradore.png" alt="">
            </a>
        </div>
        <button type="submit">Benutzer aktualisieren</button>
    </form>

    <div class="close" (click)="close()">
        <img src="/close.png" alt="">
    </div>
</div>

