<div class="sidebar-info" [class.active]="this.active">
    <h3>Nutzerdetails</h3>
    <form action="http://nutzerdatenbank-backend.loc/users/update" method="post" target="submit-frame" (submit)="handleSubmit()">
        <div class="user form-grid">
            <div class="firstname">
                <label for="firstname">Vorname:</label>
                <input type="text" id="firstname" name="first_name" [value]="this.getField('first_name')">
            </div>
            <div class="lastname">
                <label for="lastname">Nachname:</label>
                <input type="text" id="lastname" name="last_name" [value]="this.getField('last_name')">
            </div>
            <div class="username">
                <label for="username">Benutzername:</label>
                <input type="text" id="username" name="username" [value]="this.getField('username')">
            </div>
            <div class="email">
                <label for="email">E-Mail-Adresse:</label>
                <input type="text" id="email"  name="email" [value]="this.getField('email')">
            </div>
        </div>
        <div class="location form-grid">
            <div class="street w-full">
                <label for="street">Straße und Hausnummer:</label>
                <input type="text" id="street" name="street" [value]="this.getField('street')">
            </div>
            <div class="plz">
                <label for="plz">PLZ:</label>
                <input type="text" id="plz" name="plz" [value]="this.getField('plz')">
            </div>
            <div class="city">
                <label for="city">Stadt:</label>
                <input type="text" id="city" name="city" [value]="this.getField('city')">
            </div>
        </div>
        <div class="other form-grid">
            <div class="personnel_number">
                <label for="personnel_number">Personalnummer:</label>
                <input type="text" id="personnel_number" name="personnel_number" [value]="this.getField('personnel_number')">
            </div>
        </div>
        <input type="text" id="id" name="id" [value]="sideBarService.activeDetailsUserId" class="hidden" hidden>
        <div class="portal-verknuepfungen">
            <a href="#" class="personio" title="Mit Personio verbinden">
                <img src="/personio.png" alt="">
            </a>
            <a href="#" class="miradore" title="Mit Miradore verbinden">
                <img src="/miradore.png" alt="">
            </a>
        </div>
        <button type="submit">Benutzer aktualisieren</button>
    </form>

    <div class="close" (click)="close()">
        <img src="/close.png" alt="">
    </div>
</div>

