.sidebar-info {
    width: 750px;
    height: 100%;
    max-width: 0px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: grey;
    overflow: hidden;
    z-index: 10;

    h3 {
        margin-bottom: 20px;
    }

    &.active {
        max-width: 100%;
        padding: 1rem 1.5rem;
    }

    .close {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 1rem;
        right: 1.5rem;
        cursor: pointer;
    }
}