<form action="" class="login" *ngIf="!tokenValid">
    <div class="username">
        <label for="username">Benutzername:</label>
        <input type="text" id="username" name="username" [(ngModel)]="username">
    </div>
    <div class="password">
        <label for="password">Passwort:</label>
        <input type="text" type="password" id="password" name="password" [(ngModel)]="password">
    </div>
    <button class="submit" type="button" (click)="handleSubmit()">Absenden</button>
</form>

<div class="wrapper" *ngIf="tokenValid">
    <app-navbar></app-navbar>
    <app-sidebar></app-sidebar>
    <app-sidebar-info></app-sidebar-info>
    <app-sidebar-db-config></app-sidebar-db-config>
    <app-search></app-search>
</div>