<div class="sidebar" [class.active]="this.active">
    <h3>Neuen Nutzer anlegen</h3>
    <form action="http://nutzerdatenbank-backend.loc/users" method="post" target="submit-frame" (submit)="handleSubmit()">
        <div class="form-grid">
            <div [ngClass]="colName + ' ' + getGridSpanClass(colName)" class="column" *ngFor="let colName of iterableColumns">
                <label [htmlFor]="colName">{{getLabel(colName)}}:</label>
                <input type="text" [id]="colName" [name]="colName">
            </div>
        </div>
        <button type="submit">Benutzer anlegen</button>
    </form>
    <!-- Prevent browser from redirecting to api endpoint -->
    <iframe name="submit-frame" id="submit-frame" style="display: none;"></iframe>
    <div class="close" (click)="close()">
        <img src="/close.png" alt="">
    </div>
</div>
