<div class="search-component">
    <h1 class="headline">Nutzerdatenbank</h1>
    <div class="search-bar">
        <label for="search">
            <img src="search.png" alt="">
        </label>
        <input type="text" id="search" (input)="handleInput($event)" placeholder="Suche nach Nutzern">
    </div>
    <div class="recommended">
        <span>Empfohlen: </span>
        <ul class="properties">
            <li *ngFor="let field of fields; let i = index" class="property" [class.active]="field.active" (click)="toggleField($event)" [attr.data-index]="i">
                {{ field.name }}
            </li>
        </ul>
    </div>
    <ul class="results">
        <li *ngFor="let user of this.users" [class.active]="activeUserId == user.id" class="user" (click)="handleUserClick(user.id)">
            <span><strong>Vorname:</strong> {{ user.first_name }}</span>
            <span><strong>Nachname:</strong> {{ user.last_name }}</span>
            <span><strong>Benutzername:</strong> {{ user.username }}</span>
            <span><strong>E-Mail:</strong> {{ user.email }}</span>
        </li>
    </ul>
    <button class="load-more" (click)="loadMore()">Mehr laden...</button>
</div>

