<div class="search-component">
    <h1 class="headline">Nutzerdatenbank</h1>
    <div class="search-bar">
        <label for="search">
            <img src="search.png" alt="">
        </label>
        <input type="text" id="search" (input)="handleInput($event)" placeholder="Suche nach Nutzern">
    </div>
    <div class="recommended">
        <span>Empfohlen: </span>
        <ul class="properties">
            <li *ngFor="let field of fields; let i = index" class="property" [class.active]="field.active" (click)="toggleField($event)" [attr.data-index]="i">
                {{ field.name }}
                {{ field.active }}
            </li>
        </ul>
    </div>
    <ul class="results">
        <li *ngFor="let user of this.users" [class.active]="activeUserId == user.id" class="user">
            <span *ngIf="user.givenName"><strong>Vorname:</strong> {{ user.givenName }}</span>
            <span *ngIf="user.surname"><strong>Nachname:</strong> {{ user.surname }}</span>
            <span *ngIf="user.mail"><strong>E-Mail:</strong> {{ user.mail }}</span>
            <span *ngIf="user.jobTitle"><strong>Titelbezeichnung:</strong> {{ user.jobTitle }}</span>
            <span *ngIf="user.mobilePhone"><strong>Mobilnummer:</strong> {{ user.mobilePhone }}</span>
        </li>
    </ul>
    <button class="load-more" (click)="loadMore()">Mehr laden...</button>
</div>

