.sidebar-db-config {
    width: 750px;
    height: 100%;
    max-width: 0px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: grey;
    overflow: hidden;
    z-index: 10;

    &.active {
        max-width: 100%;
        padding: 1rem 1.5rem;
    }

    .close {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 1rem;
        right: 1.5rem;
        cursor: pointer;
    }

    h3 {
        margin-bottom: 1rem;
    }

    .db-select {
        display: block;
    }

    label,
    select {
        display: block;
    }

    .columns {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 1rem;
        gap: 0.5rem;
    }

    .column {
        position: relative;
        background-color: white;
        border-radius: 5px;
        padding: 5px 10px;

        .delete {
            width: 25px;
            height: 100%;
            display: grid;
            max-width: 0;
            overflow: hidden;
            position: absolute;
            place-content: center;
            top: 0;
            right: 0;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            background-color: red;
            transition: max-width 200ms ease-out;
            cursor: pointer;
        }

        .add {
            width: 25px;
            height: 100%;
            display: grid;
            max-width: 0;
            overflow: hidden;
            position: absolute;
            place-content: center;
            top: 0;
            right: 0;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            background-color: green;
            transition: max-width 200ms ease-out;
            cursor: pointer;
        }

        &:hover {
            .delete {
                max-width: 45px;
            }
            
            .add {
                max-width: 45px;
            }
        }

        &.add-column {
            width: 50%;
            grid-column: span 2;
            margin-top: 15px;
            cursor: pointer;
        }
    }
}