<div class="sidebar-db-config" [class.active]="this.active">
    <h3>Datenbank bearbeiten</h3>
    
    <label for="db-select">Tabelle auswählen:</label>
    <select class="db-select" id="db-select" name="db_select" (change)="handleSelect($event)">
        <option [value]="tableName" *ngFor="let tableName of tables">{{tableName}}</option>
    </select>
    
    
    <form action="http://nutzerdatenbank-backend.loc/users" method="post" target="submit-frame">
        <ul class="columns">
            <li class="column" *ngFor="let name of columnNames">
                <p>{{name}}</p>
                <!-- Ignore Typescript Type Checking for dynamic property -->
                <p>{{$any(columns)[name]}}</p>
                <span class="delete">X</span>
           </li>
           <li class="column add-column">
               Neue Spalte hinzufügen
               <span class="add">X</span>
           </li>
        </ul>
        <button type="submit">Änderungen übernehmen</button>
    </form>
    <!-- Prevent browser from redirecting to api endpoint -->
    <iframe name="submit-frame" id="submit-frame" style="display: none;"></iframe>
    <button class="close" (click)="close()">
        <img src="/close.png" alt="">
    </button>
</div>
